.carousel {
    position: relative;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; /* Stack arrows and content vertically */
}

.carousel-content {
    margin: 0 20px;
    position: relative; /* To position dots below this */
}

.carousel img {
    width: 70vw;
    height: 360px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%; /* Rounded background */
    z-index: 1; /* Ensure arrows are above the image */
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Space between image and dots */
    background-color: rgba(68, 123, 50, 0.8) !important; /* Background color for dots */
    padding: 10px 0; /* Padding around the dots */
    border-radius: 5px; /* Rounded corners for the background */
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: lightgray; /* Default color */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: rgb(240, 28, 130); /* Active dot color */
}

h2 {
    color: #e41a1a;
}